/* Estilos para el BorderPane */
.border-pane {
    -fx-background-color: #272727;
}

/* Estilo para el Label del título */
.label-title {
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Times New Roman';
    -fx-font-size: 36px !important;
    -fx-font-weight: bold;
}

.label-title-nombre {
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Times New Roman';
    -fx-font-size: 30px !important;
    -fx-font-weight: bold;
}

.label-title-description {
    -fx-text-fill: #ffffff;
/*    -fx-font-family: 'Times New Roman';*/
    -fx-font-size: 14px !important;
    -fx-font-weight: bold;
}

/* Estilo para los Labels */
.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

/* Estilo para los TextFields */
.text-field {
    -fx-background-color: #383838;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-prompt-text-fill: #ffffff; /* Color del texto de sugerencia */
}

.text-field:focused {
    -fx-border-color: #F57D0D;
    -fx-border-width: 2px;
    -fx-background-insets: 2;
}

/* Estilo para los TextAreas */
.text-area {
    -fx-background-color: #383838;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-prompt-text-fill: #ffffff; /* Color del texto de sugerencia */
}

.text-area:focused {
    -fx-border-color: #F57D0D;
    -fx-border-width: 2px;
    -fx-background-insets: 2;
}

/* Estilo para los botones */
.button {
    -fx-background-color: #F57D0D;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.button-transparente {
    -fx-background-color: #272727;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}


.table-view .table-cell {
    -fx-alignment: CENTER; /* Centra el contenido de todas las celdas por defecto */
}

.table-view .description-cell {
    -fx-alignment: CENTER_LEFT; /* Alinea el contenido de la columna de descripción a la izquierda */
}

/* Estilo para la TableView */



.table-view {
    -fx-background-color: #333333; /* Fondo de la tabla */
    -fx-table-cell-border-color: transparent; /* Bordes de las celdas */
    -fx-padding: 10; /* Espaciado interior de la tabla */
}

.table-view .column-header-background {
    -fx-background-color: #333333; /* Fondo del encabezado */
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #333333; /* Fondo de las columnas */
}

.table-view .table-row-cell {
    -fx-background-color: #333333; /* Fondo de las filas */
}

.table-view .table-row-cell:filled:selected, .table-view .table-row-cell:selected {
    -fx-background-color: #ff8800; /* Color de la fila seleccionada */
    -fx-text-fill: #ffffff; /* Color del texto en la fila seleccionada */
}

.table-view .table-cell {
    -fx-background-color: transparent; /* Fondo de las celdas */
    -fx-text-fill: #ffffff; /* Color del texto */
}

.table-view .table-cell:filled:selected, .table-view .table-cell:selected {
    -fx-background-color: #ff8800; /* Color de la celda seleccionada */
    -fx-text-fill: #ffffff; /* Color del texto en la celda seleccionada */
}



/* Estilo para el ScrollPane */
.scroll-pane {
    -fx-background: #383838;
    -fx-background-color: #383838;
    -fx-border-color: #272727;
    -fx-border-radius: 20px;
}

.tool-bar {
    -fx-background-color: #383838;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 10px; /* Añadir un poco de padding para que se vea mejor */
}