/*
 * Empty Stylesheet file.
 */

/* Estilos para el BorderPane (color #272727) */
.border-pane {
    -fx-background-color: #272727;
}

/* Estilo para el Label del título */
.label-title {
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Times New Roman';
    -fx-font-size: 36px !important;
    -fx-font-weight: bold;
}

/* Estilo para los Labels */
.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

/* Estilo para los TextFields */
.text-field {
    -fx-background-color: #383838;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-prompt-text-fill: #ffffff; /* Color del texto de sugerencia */
}

.text-field:focused {
    -fx-border-color: #F57D0D;
    -fx-border-width: 2px;
    -fx-background-insets: 2;
}

/* Estilo para los TextAreas */
.text-area {
    -fx-background-color: #383838;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-prompt-text-fill: #ffffff; /* Color del texto de sugerencia */
}

.text-area:focused {
    -fx-border-color: #F57D0D;
    -fx-border-width: 2px;
    -fx-background-insets: 2;
}

/* Estilo para los botones */
.button {
    -fx-background-color: #F57D0D;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}