

/* Estilos para el BorderPane (color #272727) */
.border-pane {
    -fx-background-color: #272727;
}

/* Estilo para el Label del título */
.label-title {
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Times New Roman';
    -fx-font-size: 36px !important;
    -fx-font-weight: bold;
}

/* Estilo para los Labels */
.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

/* Estilo para los TextFields y ComboBoxes */
.text-field, .combo-box {
    -fx-background-color: #383838;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-prompt-text-fill: #ffffff; /* Color del texto de sugerencia */
}

.text-field:focused, .combo-box:focused {
    -fx-border-color: #F57D0D;
    -fx-border-width: 2px;
    -fx-background-insets: 2;
}

/* Estilo para los botones */
.button {
    -fx-background-color: #F57D0D;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

/* Estilo para la TableView */
.table-view .table-cell {
    -fx-alignment: CENTER; /* Centra el contenido de todas las celdas por defecto */
}

.table-view .description-cell {
    -fx-alignment: CENTER_LEFT; /* Alinea el contenido de la columna de descripción a la izquierda */
}

/* Estilo para la TableView */



.table-view {
    -fx-background-color: #333333; /* Fondo de la tabla */
    -fx-table-cell-border-color: transparent; /* Bordes de las celdas */
    -fx-padding: 10; /* Espaciado interior de la tabla */
}

.table-view .column-header-background {
    -fx-background-color: #333333; /* Fondo del encabezado */
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #333333; /* Fondo de las columnas */
}

.table-view .table-row-cell {
    -fx-background-color: #333333; /* Fondo de las filas */
}

.table-view .table-row-cell:filled:selected, .table-view .table-row-cell:selected {
    -fx-background-color: #ff8800; /* Color de la fila seleccionada */
    -fx-text-fill: #ffffff; /* Color del texto en la fila seleccionada */
}

.table-view .table-cell {
    -fx-background-color: transparent; /* Fondo de las celdas */
    -fx-text-fill: #ffffff; /* Color del texto */
}

.table-view .table-cell:filled:selected, .table-view .table-cell:selected {
    -fx-background-color: #ff8800; /* Color de la celda seleccionada */
    -fx-text-fill: #ffffff; /* Color del texto en la celda seleccionada */
}

/* Estilo para el ScrollPane */
.scroll-pane {
    -fx-background: #383838;
    -fx-background-color: #383838;
    -fx-border-color: #272727;
    -fx-border-radius: 20px;
}

/* Estilo para la BarChart */
.bar-chart {
/*    -fx-background-color: #383838;*/
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.axis {
    -fx-tick-label-fill: #ffffff;
    -fx-font-size: 12px;
}

.axis .axis-label {
    -fx-text-fill: #ffffff;
}

.chart-legend {
    -fx-background-color: #383838;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.chart-plot-background {
    -fx-background-color: #383838;
    -fx-border-color: #272727;
}

.default-color0.chart-bar {
    -fx-bar-fill: #F57D0D;
}

.combo-box .list-cell {
    -fx-text-fill: #ffffff;
}

.button-transparente {
    -fx-background-color: #272727;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.combo-box .arrow-button {
    -fx-background-color: #383838;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #ffffff;
}

.combo-box .list-view {
    -fx-background-color: #383838;
    -fx-control-inner-background: #383838;
    -fx-text-fill: #ffffff;
}

 Cambia el color de fondo de los elementos cuando el cursor está sobre ellos 
.combo-box .list-cell:hover {
    -fx-background-color: #ff8800; /* Color de fondo naranja */
    -fx-text-fill: #ffffff; /* Color del texto blanco */
}

 Cambia el color de fondo del elemento seleccionado 
.combo-box .list-cell:selected {
    -fx-background-color: #ff8800; /* Color de fondo naranja */
    -fx-text-fill: #ffffff; /* Color del texto blanco */
}

