/* Estilos para el SplitPane */
.split-pane {
    -fx-background-color: transparent;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

/* Estilos para el AnchorPane izquierdo (color negro) */
.anchor-pane-left {
    -fx-background-color: #111111;
}

/* Estilos para el AnchorPane derecho (color #272727) */
.anchor-pane-right {
    -fx-background-color: #272727;
}

/* Estilo para el Label del título */
.label-title {
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Times New Roman';
    -fx-font-size: 36px !important;
    -fx-font-weight: bold;
}

/* Estilo para los TextField */
.text-field {
    -fx-background-color: #383838;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-prompt-text-fill: #ffffff; /* Color del texto de sugerencia */
    -fx-background-insets: 2;
}

.text-field:focused {
    -fx-border-color: #F57D0D;
    -fx-border-width: 2px;
    -fx-background-insets: 2;
}

/* Estilo para los PasswordField */
.password-field {
    -fx-background-color: #383838;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-prompt-text-fill: #ffffff; /* Color del texto de sugerencia */
    -fx-border-width: 2px;
}

.password-field .text {
    -fx-text-fill: #ffffff; /* Color de los puntos de la contraseña */
}

.password-field:focused {
    -fx-border-color: #F57D0D;
    -fx-border-width: 2px;
    -fx-background-insets: 2;
}

/* Estilo para los botones de inicio de sesión */
.button-login {
    -fx-background-color: #F57D0D;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 3;
}
.button-login.focused {
    -fx-border-color: white; /* Borde blanco en el enfoque también */
    -fx-border-width: 3; /* Mantener el borde grueso en el enfoque */
    -fx-border-radius: 20;
}

/* Estilo para los Separators */
.separator {
    -fx-background-color: #ffffff;
}

/* Estilo para todos los Labels (excepto el título) */
.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

/* Estilo específico para el Label de error */
.label-error {
    -fx-font-size: 12px;
    -fx-text-fill: red;
}

/* Estilos para los Stage (borde y fondo gris oscuro) */
.root {
    -fx-background-color: #2B2B2B; /* Gris muy oscuro */
}
